{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# iosxe - banners #}
{% if banners.login is arista.avd.defined %}
!
banner login 
{%   set login = banners.login | replace('EOF', '')%}
{{ login }}
{% endif %}
