{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# iosxe - ip routing vrfs #}
!
{% for vrf in vrfs | arista.avd.natural_sort('name') %}
{%     if vrf.ip_routing is arista.avd.defined(true) and vrf.name != 'default' %}
ip multicast-routing vrf {{ vrf.name }}
{%     endif %}
{% endfor %}
