{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# iosxe - lldp #}
{% if lldp is arista.avd.defined %}
!
{%     if lldp.run is arista.avd.defined(true) %}
lldp run
{%     elif lldp.run is arista.avd.defined(false) %}
no lldp run
{%     endif %}
{% endif %}
