{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# iosxe - router multicast #}
{% if router_multicast is arista.avd.defined %}
!
{%     for vrf in router_multicast.vrfs | arista.avd.natural_sort('name') %}
{%         if vrf.ipv4 is arista.avd.defined %}
{%             if vrf.ipv4.routing is arista.avd.defined(true) %}
ip multicast-routing vrf {{ vrf.name }}
{%             endif %}
{%         endif %}
{%     endfor %}
{% endif %}
