{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# iosxe - spanning-tree #}
{% if spanning_tree is arista.avd.defined %}
!
{%     if spanning_tree.mode is arista.avd.defined() %}
spanning-tree mode {{ spanning_tree.mode }}
{%     endif %}
{%     if spanning_tree.edge_port.bpduguard_default is arista.avd.defined(true) %}
spanning-tree portfast bpduguard default
{%     elif spanning_tree.edge_port.bpduguard_default is arista.avd.defined(false) %}
no spanning-tree portfast bpduguard default
{%     endif %}
{%     if spanning_tree.mode is arista.avd.defined('mstp') %}
{%         for mst_instance in spanning_tree.mst_instances | arista.avd.natural_sort('id') %}
{%             if mst_instance.priority is arista.avd.defined %}
spanning-tree mst {{ mst_instance.id }} priority {{ mst_instance.priority }}
{%             endif %}
{%         endfor %}
{%     elif spanning_tree.mode is arista.avd.defined('rapid-pvst') %}
{%         for vlan_id in spanning_tree.rapid_pvst_instances | arista.avd.natural_sort('id') %}
{%             if vlan_id.priority is arista.avd.defined %}
spanning-tree vlan {{ vlan_id.id }} priority {{ vlan_id.priority }}
{%             endif %}
{%         endfor %}
{%     endif %}
{% endif %}
